# Session 9: Introduction to Pandas and DataFrames

## Introduction
Pandas is a powerful data manipulation library in Python, providing data structures and functions needed to manipulate structured data seamlessly. In this tutorial, you will learn about Pandas and its core data structure, the DataFrame.

## Objectives
- Understand the basics of Pandas
- Learn how to create and manipulate DataFrames
- Perform data analysis with Pandas

## Prerequisites
- Knowledge of Python: functions, arrays, lists, NumPy, loops, conditionals
- Basic understanding of data visualization with Matplotlib

## Estimated Time
1.5 hours

## Part 1: Introduction to Pandas (20 minutes)

**What is Pandas?**
Pandas is an open-source library providing high-performance, easy-to-use data structures, and data analysis tools for Python. It is particularly useful for data manipulation and analysis.

**Installing Pandas (should already be installed)**
If you haven't installed Pandas yet, you can do so using pip: pip install pandas


**Importing Pandas**
```python
import pandas as pd

### Creating DataFrames**

#### Example 1: Creating a DataFrame from an Excel file

**Instructions:**
1. Create an Excel file with some sample data and save as a .csv file
2. Load the file as a DataFrame using `pd.read_csv()`

**Specific Instructions:***
We have information about the following '90s rappers:

- __Tupac__ was born in __Manhattan__ and signed his first record deal at age __20__.  
- __The Notorious B.I.G.__ was born in __Brooklyn__ and signed his first deal at age __19__.  
- __Snoop Dogg__ was born in __Long Beach__ and signed his first deal at age __19__.  
- __Nas__ was born in __Brooklyn__ and signed his first deal at age __18__.  
- __Dr. Dre__ was born in __Compton__ and signed his first deal at age __19__.

Together, let's create an Excel file with columns "Name", "City", and "Age", and save it as "rappers.csv" (File > Save As > File Format: CSV UTF-8).
We will upload this file to Jupyter.

In [ ]:
import pandas as pd

rappers_data = pd.read_csv('rappers.csv')
print(rappers_data)

### Practice Problem 1: Create Your Own DataFrame

Create a DataFrame for the following data:

| Product    | Price | Quantity |
|------------|-------|----------|
| Laptop     | 1000  | 50       |
| Tablet     | 500   | 30       |
| Smartphone | 800   | 100      |  

Use Excel to enter the data, save it as a CSV file, upload it to Jupyter, then read it with pandas. Name the variable "df".

**Solution:**

Part 2: Data Manipulation with Pandas (30 minutes)

### Selecting Data

#### Example 2: Selecting Columns and Rows

Instructions:
- Select a single column using `df['column_name']`.
- Select multiple columns using `df[['column1', 'column2']]`.
- Select rows using `df.iloc[]` for integer-location based indexing.

In [ ]:
# Selecting a single column
products = df['Product']
print(products)

In [ ]:

# Selecting multiple columns
product_price = df[['Product', 'Price']]
print(product_price)

In [ ]:
# Selecting rows by index
first_row = df.iloc[0]
print(first_row)

In [ ]:
# Selecting a subset of rows and columns
subset = df.iloc[0:2, 0:3]
print(subset)

### Practice Problem 2: Select Data from Your DataFrame

1. Select the **'Product'** and **'Price'** columns from your DataFrame.  
2. Next, select the first two rows from your DataFrame.  
3. Finally, select the first two rows and two columns.

**Solution:**

### Filtering Data

**Example 3: Filtering Data Based on Conditions**

Instructions:
- Filter rows where a column meets a condition using boolean indexing.
- Combine multiple conditions using & (and) and | (or).  
- **Python evaluates & (and) before | (or).**.  
    For example:
    <pre markdown>
    True or False and True
    # evaluates to "True or (False and True)"
    # which equals "True or False"
    # which equals True
    </pre>
- Use parentheses () to override this order.

In [ ]:
# Filter rows where 'Price' is greater than 600
filtered_data = df[df['Price'] > 600]
print(filtered_data)

# Combine multiple conditions using & (and) and | (or)
filtered_data = df[(df['Price'] > 600) & (df['Quantity'] < 80)]
print(filtered_data)

### Practice Problem 3: Filter Data in Your DataFrame

(a) Filter rows where the 'Price' is greater than 600 and 'Quantity' is less than 100.  
(b) Filter rows where either the 'Price' is less than 600, or 'Quantity is greater than 60.  
(c) Filter rows where the 'Price' is greater than 600 and the 'Quantity' is either greater than 80 or less than 60.

**Solution:**

### Adding and Removing Data

#### Example 4: Adding and Removing Columns

Instructions:
Add a new column to the DataFrame.
Remove a column using df.drop().

In [ ]:
# Adding a new column
df['Discount'] = [0.1, 0.2, 0.15]

# Removing a column
df.drop('Discount', axis=1, inplace=True)

### Practice Problem 4: Add and Remove Columns in Your DataFrame

Add a 'Discount' column to your DataFrame with values [10, 15, 20]. Then, remove the 'Quantity' column.  
**Solution:**

### For Interested Students: Advanced DataFrame Operations

**Handling Missing Data**

#### Example 5: Identifying and Handling Missing Data*

**Instructions:**

- Identify missing data using `df.isnull()`.
- Drop rows with missing data using `df.dropna()`.
- Fill missing data using `df.fillna()`.

In [ ]:
import numpy as np

# load the rappers data for this example
df = pd.read_csv('rappers.csv')

# Adding missing data
df.loc[2, 'Age'] = np.nan
print(df)

In [ ]:
# Identifying missing data
print(df.isnull())

In [ ]:
# Dropping rows with missing data
df_dropped = df.dropna()
print(df_dropped)

In [ ]:
# Filling missing data
df_filled = df.fillna(0)
print(df_filled)

### Practice Problem 5: Handle Missing Data in Your DataFrame

(a) Set the price of the first item to missing (np.nan).  
(b) Then create a copy of your dataframe, but drop all rows with missing data.  
(c) Finally, create a copy of your dataframe, but fill all missing data with 0.  

Note: to set the price of the _n_-th item, use: df.loc[_n_, 'Price'] = ...

**Solution:**

### Grouping and Aggregating Data

**Example 6: Grouping and Aggregating Data**

**Instructions:**
- Group data using `df.groupby()`.
- Perform aggregation functions such as `sum()`, `mean()`, etc.

In [ ]:
import pandas as pd

df = pd.read_csv('rappers.csv')

# Group and aggregate
grouped = df.groupby('Artist')['NetWorth']
sum_networth = grouped.sum()
mean_networth = grouped.mean()

print("Sum of all Estimates by Artist:")
print(sum_networth)
print("\nAverage Net Worth Estimate by Artist:")
print(mean_networth)

### Practice Problem 6: Group and Aggregate Data in Your DataFrame

You now have the following data:  
| Product    | Price | Quantity |
|------------|-------|----------|
| Laptop     | 1000  | 50       |
| Tablet     | 500   | 30       |
| Smartphone | 800   | 100      |
| Laptop     | 1200  | 70       |
| Tablet     | 450   | 20       |

Create a dataframe from the above data, group by 'Product' and calculate the total and average price for each product.

**Solution:**

### Merging and Joining DataFrames

#### Example 8: Merging DataFrames

Instructions:  
- Create dataframes from Table 1 and Table 2, named "table1.csv" and "table2.csv", respectively.  
- Merge two DataFrames using pd.merge().
- Perform different types of merges: inner, outer, left, right.  

    - _inner_: keep **only rows whose ID appears in both tables**.
    - _outer_: keep **every row** from both tables, **filling gaps with NaN.**
    - _left_: keep **all rows from the first table** and **only matching rows from the second**.  
    - right: keep **all rows from the second table** and **only matching rows from the first**.  
      
Table 1:  
| ID | Artist     | Record Label             |
|----|------------|--------------------------|
| 1  | Tupac      | Interscope               |
| 2  | Biggie     | Bad Boy Records          |
| 3  | Snoop Dogg | Doggystyle Records       |
| 4  | Dr. Dre    | Aftermath Entertainment  |  

Table 2:  
| ID | Age |
|----|-----|
| 3  | 23  |
| 4  | 31  |

In [ ]:
import pandas as pd

df1 = pd.read_csv("table1.csv")
df2 = pd.read_csv("table2.csv")

In [ ]:
# inner join
merged_df_inner = pd.merge(df1, df2, on="ID", how="inner")
print(merged_df_inner)

In [ ]:
# outer join
merged_df_outer = pd.merge(df1, df2, on="ID", how="outer")
print(merged_df_outer)

In [ ]:
# left join
merged_df_left = pd.merge(df1, df2, on="ID", how="left")
print(merged_df_left)

In [ ]:
# right join
merged_df_right = pd.merge(df1, df2, on="ID", how="right")
print(merged_df_right)

### Practice Problem 8: Merge DataFrames

Create two DataFrames with some common columns and merge them using an inner join.

**Solution:**

### Reading from a data file

#### Example 9: Load a CSV file

Instructions:
- use pd.read_CSV(file_name) to convert the Berkeley Earth data to pandas
- you can now use everything we learned above to analyze it!

In [ ]:
# example CSV
file_name = 'GAST_BerkeleyEarth_1850-2023.csv'
berkeley_earth_df = pd.read_csv(file_name)

### Practice Problem 9: Analyze a data file

(a) Read the Berkeley Earth data from above, group by the 'Year' column, and compute the average temperature per year (temperature is in the 'Monthly Average' column).
(b) Make a plot of average temperature versus year.  

Hint 1: group by 'Year', select the 'Monthly Average' column, take the mean, then use the .reset_index() method.  
Example: <pre markdown> grouped = df.groupby(COL_X)[COL_Y].mean().reset_index() </pre>
  
Hint 2: You can loop through the rows of a dataframe using the following syntax:  
<pre markdown>
for index, row in df.iterrows():
    year = index
    avg_temp = row['Monthly Average']
    â€¦
</pre>

**Solution:**

## Conclusion

In this tutorial, you have learned how to:
- Create and manipulate DataFrames using Pandas
- Select, filter, add, and remove data
- Handle missing data
- Group and aggregate data
- Merge and join DataFrames